<!-- Meta tags -->
<update-title title="{{ 'TITLE_ABOUT_ST' | translate }}"></update-title>
<update-meta name="description" content="{{ 'META_NAME_DESCRIPTION_ABOUT_ST' | translate }}"></update-meta>
<update-meta property="og:title" content="{{ 'OG_TITLE_ABOUT_ST' | translate }}"></update-meta>
<update-meta itemprop="description" content="{{ 'META_ITEMPROP_DESCRIPTION_ABOUT_ST' | translate }}"></update-meta>
<!-- /Meta tags -->

<h1>{{ 'HEAD1_ABOUT_ST' | translate }}</h1>
<p>{{ 'PARAGRAPH1_ABOUT_ST' | translate }}</p>
<h2>{{ 'HEAD2_ABOUT_ST' | translate }}</h2>
<p>{{ 'PARAGRAPH2_ABOUT_ST' | translate }}</p>
<p>{{ 'PARAGRAPH3_ABOUT_ST' | translate }}</p>