<h1>About State</h1>
<p>This is most easily understood with an example. Imagine that someone writes a blog about whiteboard markers. Ever
    inclined to learn more about their passion, they spend part of their day reading what other people online have to
    say about whiteboard markers. Now imagine that while reading on their favorite topic, the dry erase marker
    enthusiast finds an article about the psychological effects of marker color choice. Excited, she goes back to her
    website to blog about the article so her friends can read about it.</p>