<!-- Meta tags -->
<update-title title="{{ 'TITLE_CONTACT_ST' | translate }}"></update-title>
<update-meta name="description" content="{{ 'META_NAME_DESCRIPTION_CONTACT_ST' | translate }}"></update-meta>
<update-meta property="og:title" content="{{ 'OG_TITLE_CONTACT_ST' | translate }}"></update-meta>
<update-meta itemprop="description" content="{{ 'META_ITEMPROP_DESCRIPTION_CONTACT_ST' | translate }}"></update-meta>
<!-- /Meta tags -->

<h1>{{ 'HEAD1_CONTACT_ST' | translate }}</h1>
<address class="vcard">
    <a class="url fn org" href="http://angular.srvrco.com/">{{ 'VCARD_URL_NAME' | translate }}</a>
    <div class="adr" style="display:block">
        <span class="street-address">{{ 'VCARD_ADR_STREET_ADDRESS' | translate }}</span>,
        <span class="extended-address">{{ 'VCARD_ADR_EXTENDED_ADDRESS' | translate }}</span>
        <div>
            <span class="locality">{{ 'VCARD_ADR_LOCALITY' | translate }}</span>, <span class="region">{{ 'VCARD_ADR_REGION' | translate }}</span>
            <span class="postal-code">{{ 'VCARD_ADR_POSTAL_CODE' | translate }}</span>
        </div>
        <span class="country-name">{{ 'VCARD_ADR_COUNTRY_NAME' | translate }}</span>
    </div>
</address>